<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aekan.navya.lpgbooking">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"    />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:name=".LPGApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <receiver android:name=".RebootReceiverAlarm" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".LPG_AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            ></receiver>
        <receiver
            android:name=".LPGBooking$mSMSBroadcastReceiver"
            android:enabled="true"
            android:exported="true">

        </receiver>

        <activity
            android:name=".AddLPGConnection"
            android:label="AddLPGConnection"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aekan.navya.lpgbooking.MainActivity" />
        </activity>
        <activity
            android:name=".PhoneBookingRegistration"

           >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aekan.navya.lpgbooking.MainActivity" />
        </activity>
        <activity
            android:name=".SMSBookingRegistration"
            android:label="Phone Booking Registration"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aekan.navya.lpgbooking.MainActivity" />
        </activity>
        <activity
            android:name=".FAQs"
            android:label="@string/FAQs_title"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aekan.navya.lpgbooking.MainActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
      App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ConfirmLPGBookingCompletion"
            android:label="@string/confirmbooking_label"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".LPGBooking"

            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aekan.navya.lpgbooking.MainActivity" />

        </activity>
        <activity android:name=".PermissionCheckForFeature"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>
